*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;

}


header{
    background-color: #0D1117 ;
    border-bottom:  1px solid #abd1c6;
}

.conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{ 
    height: 80px;
    width: auto;
    border-radius: 50px;
}

.titulo{
    color: yellow;
}

.titulo1{
    color: #F0F6FC;
}

.conteiner1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 10px;
    padding-top: 110px;
    padding-bottom: 65px;
}

.foto1{
    height: 350px;
    width: auto;
}

.texto1{
    color: #E0E0E0;
    max-width: 400px;
    font-size: 23px;
    font-family: "poppins" Arial, Helvetica, sans-serif;

}

.box{
    background-color: #0D1117 ;
    height: 190px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    color: black;
    border-radius: 40px;
    border: 3px solid #1F2937;


}
.pai{
    background-color: black;
    padding-bottom: 50px;
    display: flex;
}
.texto2{
    align-self: center;
    padding-right: 9px;
    padding-left: 9px;
    text-align: center;
    font-size: 20px;
    font-family: "poppins" Arial, Helvetica, sans-serif;
    color: #F0F6FC;

}
.galeria{
    display: flex;
    justify-content: space-around;
    gap: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: black;
    flex-wrap: wrap;
 }
 
 .fotogaleria{
    height: 310px;
    width: auto;
    border-radius: 35px;
    border: 3px solid #1F2937;
   
 }
 .textogaleria{
    max-width: 450px;
    font-size: 20px;
    font-family: "poppins" Arial, Helvetica, sans-serif;
    padding-top: 70px;
    color: #E0E0E0;
    text-align: center;
 }
 .boxcentro1{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: black;
 }
 .titulocentro{
   padding-bottom: 15px;
   font-family: "poppins" Arial, Helvetica, sans-serif;
   color: #E0E0E0;
 }
 .textocentro{
    font-size: 20px;
    text-align: center;
    font-family: "poppins" Arial, Helvetica, sans-serif;
    color: #E0E0E0;
 }
  
  
 
  
    








@media (max-width: 768px){

.texto1{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
}


.texto2{
    padding-left: 6px;
    padding-right: 6px;
}


.box{
    width: 390px;
    height: 230px;
}


.textogaleria{
    padding: 8px 8px;
}
.titulocentro{
    text-align: center;
}


 }